@push('js')

   




    <!-- Untuk Location -->
    <input type="hidden" name="_token" id="_token" value="{{csrf_token()}}">
    <script>
    var apiGeolocationSuccess = function(position) {
      showLocation(position);
    };

    var tryAPIGeolocation = function() {
      jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDCa1LUe1vOczX1hO_iGYgyo8p_jYuGOPU", function(success) {
        apiGeolocationSuccess({coords: {latitude: success.location.lat, longitude: success.location.lng}});
      })
      .fail(function(err) {
        
      });
    };

    var browserGeolocationSuccess = function(position) {
      showLocation(position);
    };

    var browserGeolocationFail = function(error) {
      switch (error.code) {
        case error.TIMEOUT:
          alert("Browser geolocation error !\n\nTimeout.");
          break;
        case error.PERMISSION_DENIED:
          if(error.message.indexOf("Only secure origins are allowed") == 0) {
            tryAPIGeolocation();
          }
          break;
        case error.POSITION_UNAVAILABLE:
          alert("Browser geolocation error !\n\nPosition unavailable.");
          break;
      }
    };

    var tryGeolocation = function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          browserGeolocationSuccess,
          browserGeolocationFail,
          {maximumAge: 50000, timeout: 20000, enableHighAccuracy: true});
      }
    };

    tryGeolocation();

    function showLocation(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      var _token = $('#_token').val();
      $.ajax({
        type:'POST',
        url: "{{url('/')}}/getLocation",
        data: { latitude: latitude, _token : _token, longitude : longitude },
        success:function(data){
                if(data){
                  $("#latitude").html("<input type='hidden' name='latitude' id='latitude' value='"+data.latitude+"'>");
                  $("#longitude").html("<input type='hidden' name='longitude' id='longitude' value='"+data.longitude+"'>");
                   $("#location").html("<input type='hidden' name='location' id='location' value='"+data.location+"'>");
                     

                }else{
                    $("#location").html('Not Available');
                }
        }
      });
    }
    </script>
      
    <!-- End Location -->

@endpush